@tailwind base;
@tailwind components;
@tailwind utilities;



body, button, li, a {
  font-family: DINPro, sans-serif;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
  font-smooth: always; 
  text-rendering: optimizeLegibility; 
}

.font-feature-cling-liga-off {
  font-feature-settings: 'clig' off, 'liga' off;
}

.fix-absolute-transform {
  transform: translate(-50%, -50%);
}